body {
    background-color: #F3E9F1;
}
#nav-color {
    background-color: #F3E9F1;
}
#bandeau {
    background-color: #ecd5e8;
}
.bloc-info {
    background-color: white;
    border-radius: 5px;
}
.cursor-pointer {
    cursor: pointer;
}